body {
    padding-top: 150px;
}

#nav-bar {
    font-family: 'Montserrat', sans-serif;
}

#brand {
    /* margin-right: 50%; */
}

#img-profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0;
    left: 50%;
    margin-bottom: 20px;
}

#header-name {
    font-family: 'Montserrat', sans-serif;
}

#header-title {
    font-family: 'Fredoka One', cursive;
}

#logo-container-home {
    margin-top: 15px;
}

#about-me {
    margin-top: 5px;
}

#header-about-me, #header-personal-information, #header-skill-rating, #header-main-education-path {
    font-family: 'Montserrat', sans-serif;
}

#education-section-tertiary {
    /* border-style: groove;
    border-width: 2px; */
}

#img-user-graduate {
    width: 100px;
}

@media (max-width: 768px) {
    #information-tertiary, #information-higher-school-certificate, #information-school-certificate {
        margin-top: 20px;
        margin-left: 20px;
    }
}

#divArrowGoToTop {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-item-hover-background-change-light:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .1875rem;
    transition: 0.3s;
}

.nav-item-hover-background-change-dark:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: .1875rem;
    transition: 0.3s;
}

.nav-item-hover-background-change-light:not(:hover), .nav-item-hover-background-change-dark:not(:hover) {
    transition: 0.3s;
}

.nav-item-hover-background-change-dark:not(:hover) {
    transition: 0.3s;
}

.nav-bar-icon-right-padding {
    padding-right: 5px;
}

.personal-details-title {
    font-family: 'Fredoka One', cursive;
}

.education-upper-margin {
    margin-top: 20px;
}