.card-section {
    margin: 20px;
    padding: 5px 5px 5px 15px;
    height: 83.5%;
}

.card-section-app-bar {
    margin: 20px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}