#profile-picture {
    border-radius: 50%;
    width: 250px;
    margin-top: 125px;
    display: block;
}

#sub-header {
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.social-media-icon {
    padding: 0px 15px 0px 15px;
}