html {
    height: 100% !important;
}

body {
    font-family: "Nunito", sans-serif;
    margin: 0px !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    height: 100%;
}
